<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    </head>
<body>
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<form action="/meteo" method="post">
  <div>
    <label for="addresse">Please input your address :</label>
    <input name="addresse" id="addresse">
  </div>
  <div>
      <a href="http://localhost:8090/addresse">
        <button>Get the weather at the given address !</button>
      </a>
  </div>
</form >
</body>
</html>